{{! FOOTER }}
<footer>

  <div class="creditofinal">
    <a href="https://www.facebook.com/necha.tejidos/">
      <img src="/public/img/facebook.svg" alt="logofacebook" />
    </a>
    <a href="https://www.instagram.com/necha_tejidos/">
      <img src="/public/img/instagram.svg" alt="logoinstagram" /></a>
    <p>2021 - por Mercedes D'Antonio</p></div>

</footer>