<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/public/css/custom.css">

</head>
<body>

{{>header}}

    <section class="flex">
    <div><video src="/public/img/videogorros.MP4" width="400" height="360" autoplay muted loop class="video"></video> </div>
    <div></div>
        <h5> Su consulta fue enviada. Le responderemos a la brevedad. </p>
    </div>

    </section>


</body>


{{>footer}}


<script src="/public/js/jquery-3.3.1.js"></script>
<script src="/public/js/bootstrap.js"></script>

</html>